<header>
  <div class="row align-items-center justify-content-between">
    <div class="col-md-4"><h1 class="h3">Car Maintenance App</h1></div>
    <div class="col-md-5">
      <ul class="nav nav-underline justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active сars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Passed cars</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Add new car</button>
        </li>
      </ul>
    </div>
  </div>
</header>
