<div class="modal" tabindex="-1" aria-labelledby="addCarModal" aria-hidden="true"
[ngStyle]="{'display': sharedService.displayStyle}" (click)="sharedService.closeModal($event)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">New Car</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="sharedService.closeModal($event)"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group mb-3">
            <label for="carModel" class="mb-2">Car Model</label>
            <input type="text" class="form-control" name="model" id="model" placeholder="Toshiba" [(ngModel)]="car.model" required #model="ngModel">
          </div>
          <div class="form-group mb-3">
            <label for="carOwner" class="mb-2">Car Owner</label>
            <input type="text" class="form-control" name="owner" id="owner" placeholder="Lusiya Kulin" [(ngModel)]="car.owner" required #owner="ngModel">
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="owner.errors?.['required'] || model.errors?.['required']" (click)="onAdd()">Add new car</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
